<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>collapse</h1>
      <Taccordion>
        <Taccordion-group heading="Static Header, initially expanded">
          This content is straight in the template.
        </Taccordion-group>
        <Taccordion-group #group>
          <div accordion-heading>
            <div class="card-header">
              I can have markup, too!
              <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
            </div>
          </div>
          This is just some content to illustrate fancy headings.
        </Taccordion-group>
        <Taccordion-group #group>
          <div accordion-heading>
            <div class="card-header">
              I can have markup, too!
              <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
            </div>
          </div>
          This is just some content to illustrate fancy headings.
        </Taccordion-group>
        <Taccordion-group #group>
          <div accordion-heading>
            <div class="card-header">
              I can have markup, too!
              <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
            </div>
          </div>
          <div class="card-block">
            This is just some content to illustrate fancy headings.
          </div>
        </Taccordion-group>
        <Taccordion-group #group>
          <div accordion-heading>
            <div class="card-header">
              I can have markup, too!
              <i class="pull-right float-xs-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
            </div>
          </div>
          This is just some content to illustrate fancy headings.
        </Taccordion-group>
      </Taccordion>
    </div>
  </div>
</div>
