<style>
  .chevron::before {
    border-style: solid;
    border-width: 0.29em 0.29em 0 0;
    content: '';
    display: inline-block;
    height: 0.69em;
    left: 0.05em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    vertical-align: middle;
    width: 0.71em;
  }

  .chevron.bottom:before {
    top: -.3em;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }
</style>
<table>
  <tbody>
  <tr class="text-center" [ngClass]="{hidden: !showSpinners || readonlyInput}">
    <td><a (click)="incrementHours()" [ngClass]="{disabled: noIncrementHours()}" class="btn btn-link">
      <span class="chevron"></span></a>
    </td>
    <td>&nbsp;</td>
    <td><a (click)="incrementMinutes()" [ngClass]="{disabled: noIncrementMinutes()}" class="btn btn-link"><span
      class="chevron"></span></a>
    </td>
    <td>
      <a (click)="toggleMeridian()" [ngClass]="{hidden: !showMeridian}" *ngIf="showMeridian" class="btn btn-link">
        <span class="chevron"></span>
      </a>
    </td>
  </tr>
  <tr>
    <td class="form-group" [ngClass]="{'has-error': invalidHours}">
      <input Twheel style="width:50px;" type="text" [(ngModel)]="hours" (TWheelUp)="incrementHours()"
             (TWheelDown)="decrementHours()"
             (change)="updateHours()" class="form-control text-center" [readonly]="readonlyInput"
             (blur)="hoursOnBlur()" maxlength="2">
    </td>
    <td>:</td>
    <td class="form-group" [ngClass]="{'has-error': invalidMinutes}">
      <input Twheel style="width:50px;" type="text" [(ngModel)]="minutes" (TWheelUp)="incrementMinutes()"
             (TWheelDown)="decrementMinutes()"
             (change)="updateMinutes()" class="form-control text-center" [readonly]="readonlyInput"
             (blur)="minutesOnBlur()" maxlength="2">
    </td>
    <td [ngClass]="{hidden: !showMeridian}" *ngIf="showMeridian">
      <button type="button" [ngClass]="{disabled: noToggleMeridian() || readonlyInput}"
              class="btn btn-default text-center" (click)="toggleMeridian()">{{meridian}}
      </button>
    </td>
  </tr>
  <tr class="text-center" [ngClass]="{hidden: !showSpinners || readonlyInput}">
    <td><a (click)="decrementHours()" [ngClass]="{disabled: noDecrementHours()}" class="btn btn-link"><span
      class="chevron bottom"></span></a></td>
    <td>&nbsp;</td>
    <td><a (click)="decrementMinutes()" [ngClass]="{disabled: noDecrementMinutes()}" class="btn btn-link"><span
      class="chevron bottom"></span></a>
    </td>
    <td>
      <a (click)="toggleMeridian()" [ngClass]="{hidden: !showMeridian}" *ngIf="showMeridian" class="btn btn-link"><span
        class="chevron bottom"></span></a>
    </td>
  </tr>
  </tbody>
</table>
