<div class="col-lg-4 offset-lg-4 login_container">
  <div class="card text">
    <div class="card-block">
      <div class="card-title text-center">
        <h3>登录</h3>
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm text-center" placeholder="用户名">
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-sm text-center" placeholder="密码">
      </div>
      <button class="btn btn-outline-success  btn-sm btn-block">登录</button>
      <button class="btn btn-outline-success btn-sm btn-block">注册</button>
    </div>
  </div>
</div>
