//.sidenav {
//  position: fixed;
//  z-index: $zindex-sidenav;
//  @include transition(all 0.3s);
//  &.left {
//    left: 0;
//    @include translateX(-105%);
//  }
//  &.right {
//    right: 0;
//    @include translateX(105%);
//  }
//  &.left, &.right {
//    top: 0;
//    bottom: 0;
//    overflow-x: hidden;
//    overflow-y: auto;
//    @include transition(all 0.3s);
//    &.open {
//      @include translateX(0);
//      @include transition(all 0.3s);
//    }
//  }
//
//  &.top, &.bottom {
//    left: 0;
//    right: 0;
//    overflow-x: auto;
//    overflow-y: hidden;
//    @include transition(all 0.3s);
//    &.open {
//      @include translateY(0);
//      @include transition(all 0.3s);
//    }
//  }
//
//  &.top {
//    @include translateY(-105%);
//    top: 0;
//  }
//  &.bottom {
//    @include translateY(105%);
//    bottom: 0;
//  }
//}
//
//.sidenav-shadow {
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  display: none;
//  z-index: $zindex-sidenav-shadow;
//  &.fadebg {
//    background-color: rgba(#000, 0.1);
//  }
//  &.open {
//    display: block;
//  }
//}
